@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --light-blue: #87cefa;
    --dark-blue: #525c74;
    --dark-gray: #6c839a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
